
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400..900;1,400..900&family=Inter:wght@400;500;600;700&family=Special+Elite&display=swap');


:root {
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  color: #08060d;
  background: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

@font-face {
  font-family: 'Bodoni FLF';
  src: url('./assets/fonts/BodoniFLF-Roman.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-isoc-green: #1e4d39;
  --color-isoc-cream: #f4f1ea;
  --font-display: 'Bodoni FLF', 'Bodoni Moda',  Georgia, serif;
  --font-body: 'Inter', system-ui, sans-serif;
  --font-typewriter: 'Special Elite', monospace;
}


@font-face {
  font-family: 'Bodoni FLF';
  src: url('/fonts/BodoniFLF-Roman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bodoni FLF';
  src: url('public/fonts/bodoni-FLF/BodoniFLF-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Bodoni FLF';
  src: url('/fonts/BodoniFLF-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Bodoni FLF';
  src: url('/fonts/BodoniFLF-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}